html {
  background: url(images/destination_tokyo.jpg) no-repeat center fixed;
  background-size: cover;
}

#lang {
  text-align: right;
  /* float:right로 하면 #question이 가운데 정렬을 하는데 방해가 된다.
     그리고 #lang이 화면 오른쪽 상단에 배치되지않고 margin이 크게 발생..
     -이유는?

  */
  margin: 0;
  color: azure;
  font-size: 15px;
}

.country {
  display: inline-block;
  /*  <p>를 사용하였기 때문에 기본적으로 block 성질을 가진다.
      따라서 옆으로 나열하기 위해서는 inline 성질을 가지도록 해줘야하는데,
      block 성질에서의 속성값을 포기하지 않기 위해 inline-block을 사용한다.
      또한, inline 성질을 가졌으므로 block 성질만 가졌을 때와
      다르게 <p>에 입력한 띄어쓰기가 구현된 것이 확인 가능하다.

      float: left로 하면 .country에 #lang에서 정의한 text-align이 적용되지않는다. 
      -이유는?
  */
  cursor: pointer;
  color: white;
}

#question {
  font-size: 4em;
  margin: auto;
  padding: 0;
  text-align: center;
  line-height: 350%;
  color: beige;
  text-shadow: 0px 0px 3px black;
}

#info {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

#nameIn {
  width: 600px;
  height: 50px;
  font-size: 20px;
}
/* 어떻게 하면 #nameIn과 #btn를 합한 크기를 가운데 정렬 할 수 있을까..? */
#btn {
  margin-left: 10px;
  margin-top: 3px;
  position: absolute;
  text-shadow: 0px 0px 3px black;
  cursor: pointer;
}
